@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif; 
  letter-spacing: 0.03em;
  font-size: 1.2rem;
  line-height: 1.6;
}

/* ==========================================================================
   Headers
   ========================================================================== */
h1#title {
  text-align: center;
  text-decoration: none;
  margin-top: 25px;
}

h1#title a {
  color: #202020;
  background-color: #fff;
  border: 3px solid #202020;
  box-shadow: 5px 5px 0px #202020;
  padding-left: 10px;
  padding-right: 10px;
}

h1#title a:hover {
  cursor: default;
}

h2 {
  font-size: 1.5em;
}

h3 {
  color: #202020;
  border: 1px solid #202020;
  box-shadow: 5px 5px 0px #202020;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  min-width: 200px;
  font-size: 1.25em;
}

/* ==========================================================================
   Main Header
   ========================================================================== */

#header {
  margin: 0;
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
  padding: 0;
  z-index: 1;
  position: -webkit-sticky; 
  position: sticky;
  top: 6px;
}

.logo {
  display: inline;
  float: left;
  margin: 0;
  padding: 0;
}

.logo img {
  width: 50px;
  height: auto;
  margin: 0;
  padding: 0;
}

.logo .site-title {
  font-size: 1.5rem;
  display: inline;
  margin: 0 0 0 1rem;
  text-transform: lowercase;
  letter-spacing: 0.02em;
  line-height: 1.6;
  font-weight: normal;
}

.site-title a {color: #202020;}
.site-title a:hover {color: #F68A16;}


h1.site-title {
  display: inline;
}

#cml {
  float: right;
  padding: 1em;
}


/* ==========================================================================
   Main Menu
   ========================================================================== */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F68A16;
}

li {
  float: left;
}

li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #fff;
  color: #202020;
}

.active {
  background-color: #4CAF50;
}

/*Dropdown*/
li a:hover, .dropdown:hover .dropbtn {
  background-color: #fff;
  color: #202020;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: .8em;
}

.dropdown-content a {
  color: #202020;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #fff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#i-too {
  float: right;
}

#i-too a:hover {
  background-color: #202020;
  color: #fff;
}

#i-too-small-screen {display: none;}

.about-div {padding: 25px;}

.about-list {font-size: 22px; font-weight: 300; margin-bottom: 25px;}
.about-list b {font-weight: 700;}
.about-div p, ul.h4-about, li.h4-about {text-align: left; padding: 24px; background-color: #fff;}
.about-div p { border: 1px solid #F68A16; border-radius: 8px;}
.about-div ul.h4-about {padding: 10px 12px; color: #202020;}
.about-div li {padding: 8px 0; list-style: none; }
.about-div h4.h4-about {display: inline-block; padding: 6px 8px; background-color: #202020; color: #fff;}
.about-text {margin-bottom: 24px;}
/*.about-text{background-image: url('../img/maps/sarahi-gallegos-map-1.png'); background-size: cover;}*/
/*ul.about-list {background-color: rgba(0, 0, 0, .20);}*/
/*.about-list > li {background-color: rgba(0, 0, 0, 1.0);}*/
.about-info-block h4 {margin-bottom: 4px; }
.about-info-block li {background-color: #202020; color: #fff; padding: 12px 50px;}
.about-info-block p {  }
.mentor-row-1 {display: block; float: left; width: 100%;}
.mentor-row-2 {display: block; float: left; width: 100%;}

.mentor { float: left; width: 33%; margin-top: 50px; text-align: center;}
/*.mentor-row-2 > .mentor {float: none; display: inline-block; margin-top: 50px;}*/
.mentor-img { width: 300px; margin: 6px; display: block; margin-left: auto; margin-right: auto;border-radius: 4px;}
.mentor p {font-size: .9em; border: none; text-align: center; width: 300px; margin-left: auto; margin-right: auto; display: block; text-align: justify;}
#h3-mentor {margin-top: 50px; margin-bottom: 0; text-align: center;}
#about-link {text-decoration: none;}
/*#about-link:hover {background-color: #202020;} */
#about:hover { border: 1px solid #fff; box-shadow: 5px 5px 0 #fff; color: #fff; background-color: rgba(0, 0, 0, .750);}

/*bios*/
/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

img {width: 200px; object-fit: contain;}


.footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #F68A16;
  color: #fff;
  text-align: left;
  padding: 1em 0;
  text-align: center;
  margin-top: 50px;
}

.footer p {margin-top: 10px; color: #fff; font-size: 1.5em; font-weight: 500;}
.footer i {color: #333;}
.footer #contact {font-weight: 300; font-size: 1em;}

.footer .dropup {
  display: block;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  background-color: #202020; 
  color: #fff;
  height: auto;
}

.footer .dropup-content {
  bottom: 34px;
}

.footer .dropup button {
  background-color: #202020; 
  color: #fff;
  border: 1px dashed #fff;
}
/*.footer .dropup button:hover { background-color: #333; }*/
#social-buttons {
  display: block;
}

.social img {
  width: 40px;
  margin: 25px 5px;
}

.social img:hover {
  filter: blur(2px);
}

/* Responsive columns */
@media screen and (max-width: 720px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}