@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  box-sizing: border-box;
}

body {
font-family: 'Montserrat', sans-serif;
font-weight: 900;
padding: 20px;
}

#enter { 
  position: fixed;
  z-index: 200;
  padding: 250px 0;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: block;
 }

 #enter button {
  margin-left: 75%;
  margin-right: auto;
  display: block;
 }

/* Style the buttons */
.btn {
  font-size: 16px;
  border: none;
  outline: none;
  padding: 12px 16px;
  cursor: pointer;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.btn:hover {
  background-color: rgb(22,246,138);
}

.btn.active {
  background-color: rgb(255,255,255);
  color: #333;
}

.btn.active:hover { background-color: rgb(41, 171, 226);  }

#slogan {   
  height: 100vh;
  width: 100%;
  z-index: 100;
  position: fixed; 
  background-color: rgba(246,22,130,.8);
  margin: 0;
  left: 0;
  top: 0;
  padding: 50px;
  display: block;
  /*word-break: break-all;*/
}

h1 {
  font-size: 10em;
  font-weight: 900;
  margin-top: 5px;
  /*width: 70%;*/
}

h2 { margin: 10px 0; }

a { font-size: 16px; font-weight: 300; }

a#cmp { text-decoration: none; color: #f68a16; font-size: 24px ; }

.nature { animation: 1s ease-out 0s 1 slideInFromLeft; }

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.cars { animation: 1s ease-out 0s 1 slideInFromRight; }
@keyframes slideInFromRight{
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}

#logo { width: 50px; margin-right: 10px; }

/* Center website */
.main {
  margin: auto;
  filter: saturate(0);
}

.row {
  margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 6px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 12.5%;
  /*display: none;*/ /* Hide all elements by default */
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  position: relative;

}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}


.container { }

.image {
/*  width: 100%;*/
  width: 100px;
  height: 100px;
  border-radius: 5px;
  object-fit: cover;
}

.overlay {
  position: absolute; 
  bottom: 5px; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.75); /* Black see-through */
  width: 100%;
  transition: .5s ease;
  opacity: 0;
  color: #fff;
  font-size: 14px;
  text-align: center;

}

.content:hover .overlay {
  opacity: 1;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 720px) {
  .column { width: 25%; }
  .btn { font-size: 12px; }
  .overlay { font-size: 12px; }
  div.main { float: none;}
  h1 { font-size: 4em; text-align: left; }
  #slogan { padding-top: 100px; } 
  .btn { height: 75px; width: 75px; }
  .btn.active { background-color: #fff;}
}



