@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  color: #333;
}

body {
  font-family: 'Montserrat', sans-serif; 
  letter-spacing: 0.03em;
  font-size: 1.2rem;
  line-height: 1.6;
}

a {
  color: #333;
  cursor: pointer;
}

a:hover {
  color: #F68A16;
}

h1.site-title a {
  display: inline;
  text-decoration: none;
}

.project-info {margin: 50px 100px; text-align: left; padding-bottom: 0; color: #333; border: 1px dashed #333; padding: 12px; background-color: #fff;}
p {text-align: center;}

hr {  
  border-top: 1px dashed #333; 
  color: rgba(0,0,0,0);
  margin: 0;
  display: block;
}

.footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: left;
  padding: 1em 0;
  text-align: center;
}

.footer p {margin-top: 10px; color: #fff; font-size: 1.5em; font-weight: 500;}
.footer i {color: #F68A16;}
.footer #contact {font-weight: 300; font-size: 1em;}

.footer .dropup {
  display: block;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  background-color: #333; 
  color: #fff;
}

.footer .dropup-content {
  bottom: 34px;
}

.footer .dropup button {
  background-color: #333; 
  color: #fff;
  border: 1px dashed #fff;
}

#social-buttons {
  display: block;
}

.social img {
  width: 40px;
  margin: 25px 5px;
}

.social img:hover {
  filter: blur(2px);
}

/* ==========================================================================
   Headers
   ========================================================================== */
h1#title {
  text-align: center;
  text-decoration: none;
  margin-top: 25px;
}

h1#title a {
  color: #333;
  background-color: #fff;
  border: 3px solid #333;
  box-shadow: 5px 5px 0px #333;
  padding-left: 10px;
  padding-right: 10px;
}

h1#title a:hover {
  cursor: default;
}

h2 {
  font-size: 1.5em;
}

h3 {
  color: #333;
  border: 1px solid #333;
  box-shadow: 5px 5px 0px #333;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  min-width: 200px;
  font-size: 1.25em;
}

/* ==========================================================================
   Main Header
   ========================================================================== */

#header {
  margin: 0;
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
  padding: 0;
  z-index: 1;
  position: -webkit-sticky; 
  position: sticky;
  top: 6px;
}

.logo {
  display: inline;
  float: left;
  margin: 0;
  padding: 0;
}

.logo img {
  width: 50px;
  margin: 0;
  padding: 0;
}

.logo .site-title {
  font-size: 1.5rem;
  display: inline;
  margin: 0 0 0 1rem;
  text-transform: lowercase;
  letter-spacing: 0.02em;
  line-height: 1.6;
  font-weight: normal;
}

h1.site-title {
  display: inline;
}

#cml {
  float: right;
  padding: 1em;
}


/* ==========================================================================
   Main Menu
   ========================================================================== */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F68A16;
}

li {
  float: left;
}

li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
/*  border-right: 1px solid #333;*/
}

li a:hover:not(.active) {
  background-color: #fff;
  color: #333;
}

.active {
  background-color: #4CAF50;
}

/*Dropdown*/
li a:hover, .dropdown:hover .dropbtn {
  background-color: #F68A16;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: .8em;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #fff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*li#home:hover {background-color: #fff; color: #333;}*/
li#home:hover > a:hover {color: #b3d4fc; background-color: #fff;}

#i-too {
  float: right;
}

#i-too a:hover {
  background-color: #333;
  color: #fff;
}

#i-too-small-screen {display: none;}

/* ==========================================================================
   jar-one
   ========================================================================== */

.jar {
  padding: 5em 0;
}

#about-link {
  text-decoration: underline;
}

.jar-one {
  text-align: center; 
  padding: 100px;
  /*margin-top: 25px;*/
  background-image: url('../img/group2.png');
  background-size: cover;
/*  margin: auto;
  display: block;*/
}

/*TEST*/

#about-text {
/*  background-color: rgba(0, 0, 0, .5);*/
/*  z-index: 1;*/
/*  background-image: url('../img/landing-img.png');
  background-size: 50%;*/
  text-align: center;
/*  margin: auto;*/
  display: block;

  /*position: absolute;*/
}

.jar-one h3 { 
  margin: 4em 0 1em 0;
  font-weight: 500;
  background-color: rgba(255,255,255,1);
}

.jar-one p { 
  text-align: center; 
  margin: auto;
  display: block;
  z-index: 1;
  padding: 50px 100px;
  background-color: rgba(255,255,255,.9);
  font-size: 1em;
  line-height: 1.6;
  font-weight: 500;
/*  width: 100%;*/
}

h3#about {
  margin-top: 25px;
  margin-bottom: 50px;
}

/*.jar-one #circle-img {
  float: left;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  position: relative;
  padding: 1em 1em 0 1em;
  opacity: .75;
}

.jar-one img {
  float: left;
  width: 350px;
  height: 350px;
  border-radius: 50%;
}

.jar-one h3 { 
  margin: 4em 0 1em 0;
  font-weight: 400;
}

.jar-one p { 
  text-align: left; 
}

#arrow {
  display:block;
  text-align: center;
  padding-top: 55px;
  margin-bottom: 0;
  font-size: 4em;
}

/* ==========================================================================
   jar-two
   ========================================================================== */

.jar-two {text-align: center;}

.jar-two a {text-decoration: none;}

.jar-two h3 {margin-top: 0px;}

/* ==========================================================================
   Projects
   ========================================================================== */

.jar-two h3 {
  margin-bottom: 3em;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}

.grid-item {
  background-color: #333;
  border: 1px solid #fff;
  padding: 20px;
  text-align: center;
  color: #fff;
  padding: 120px 60px;
  position: relative;
}

#item-1 {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/f/fc/DasUndbild.jpg);
  background-size: contain;
}

#item-2 {  
  background-image: url(https://www.playfullearning.net/wp-content/uploads/2015/02/heartmap2.jpg);
  background-size: contain;
}

#item-3 {  
  background-image: url('../img/belong.jpg');
  background-size: 150%;
}

#item-4 {  
  background-image: url(https://static01.nyt.com/images/2018/09/27/opinion/27vivionbrooks/merlin_142931106_b873a380-8d89-4d23-ad65-302dedb73fc8-articleLarge.jpg?quality=75&auto=webp&disable=upscale);
  background-size: cover;
}

#item-5 {  
  background-image: url(https://graphics8.nytimes.com/images/2012/10/07/sunday-review/07GRAY/07GRAY-superJumbo.jpg);
  background-size: contain;
}

#item-6 {  
  background-image: url(https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fability360.org%2Fwp-content%2Fuploads%2F2018%2F04%2FLivAbililty-Edition-12-Advocacy-WP-Header.jpg&f=1&nofb=1);
  background-size: cover;
}

.dropbtn-projects {
  background-color: rgba(255,255,255,.9);
  color: #333;
  padding: 1em;
  font-size: .8em;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  width: 200px;
}

.dropdown-projects {
  position: relative;
  display: inline-block;
}

.dropdown-content-projects {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  color: #333;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: .8em;
}

.dropdown-content-projects a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content-projects a:hover {background-color: #fff;}

.dropdown-projects:hover .dropdown-content-projects {display: block;}

.dropdown-projects:hover .dropbtn-projects {background-color: #F68A16; color: #fff;}


/* ==========================================================================
   jar-three
   ========================================================================== */

.jar-three {
  text-align: center;
}

.jar-three h3 {
  margin-bottom: 3em;
}

/* ==========================================================================
   Schools
   ========================================================================== */

.column {
  /*float: left;*/
  width: 200px;
  padding: 1em;
  display: inline-block;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8; 
  object-fit: cover;
  height: 200px;
  border-radius: 50%;
}

#tab-img-grid {
  max-width: 100%;
  text-align: center;
}

.dropup button {
  border: none;
  padding: 10px;
  font-size: .8em;
  padding: .5em;
  background-color: rgba(255,255,255,.9);
  color: #333;
  border: 1px solid #333;
  border-radius: 4px;
  margin: 1em;
  width: 150px;
  cursor: pointer;
}

.dropup {
  position: relative;
  display: inline-block;
}

.dropup:hover {
  background-color: ;
}

.dropup-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 100%;
  bottom: 50px;
  z-index: 1;
  font-size: .8em;
}

.dropup-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropup-content a:hover {background-color: #fff;}

.dropup:hover .dropup-content {
  display: block;
}

.dropup:hover .dropbtn {
  background-color: #F68A16;
}

a.schools-menu-title {
  background-color: #333;
  color: #fff;
}

a.schools-menu-title:hover {
  background-color: #333;
  color: #fff;
}

a.school-page {
  color: #333;
  border-top: 1px dashed #333;
}

/* ==========================================================================
   About Page
   ========================================================================== */
/*.about-nav {background-color: #F68A16;}*/
.about-div {padding: 25px;}

.about-list {font-size: 22px; font-weight: 300; margin-bottom: 25px;}
.about-list b {font-weight: 700;}
.about-div p, ul.h4-about, li.h4-about {text-align: left; padding: 24px; background-color: #fff;}
.about-div p { border: 1px solid #F68A16; border-radius: 8px;}
.about-div ul.h4-about {padding: 10px 12px; color: #333;}
.about-div li {padding: 8px 0; list-style: none; }
.about-div h4.h4-about {display: inline-block; padding: 6px 8px; background-color: #333; color: #fff;}
.about-text {margin-bottom: 24px;}
/*.about-text{background-image: url('../img/maps/sarahi-gallegos-map-1.png'); background-size: cover;}*/
/*ul.about-list {background-color: rgba(0, 0, 0, .20);}*/
/*.about-list > li {background-color: rgba(0, 0, 0, 1.0);}*/
.about-info-block h4 {margin-bottom: 4px; }
.about-info-block li {background-color: #333; color: #fff; padding: 12px 50px;}
.about-info-block p {  }
.mentor-row-1 {display: block; float: left; width: 100%;}
.mentor-row-2 {display: block; float: left; width: 100%;}

.mentor { float: left; width: 33%; margin-top: 50px; text-align: center;}
/*.mentor-row-2 > .mentor {float: none; display: inline-block; margin-top: 50px;}*/
.mentor-img { width: 300px; margin: 6px; display: block; margin-left: auto; margin-right: auto;border-radius: 4px;}
.mentor p {font-size: .9em; border: none; text-align: center; width: 300px; margin-left: auto; margin-right: auto; display: block; text-align: justify;}
#h3-mentor {margin-top: 50px; margin-bottom: 0; text-align: center;}
#about-link {text-decoration: none;}
/*#about-link:hover {background-color: #333;} */
#about:hover { border: 1px solid #fff; box-shadow: 5px 5px 0 #fff; color: #fff; background-color: rgba(0, 0, 0, .750);}
/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (max-width: 980px) {
  .mentor {display: block; width: 100%; margin-top: 4px;}
  .mentor p {width: 90%; }
  .mentor-img {width: 90%;}
}

.about-list {font-size: 1em; font-weight: 300;}
.about-list b {font-weight: 500;}

@media only screen and (max-width: 768px) {
  body {font-size: 1rem;}
  
  .logo { }

  .logo .site-title {
    text-align: center;
    font-size: 1.4em;
  }

  #logo { 
    width:50px;
  }

  .dropdown-content a {
    font-size: .9em;
  }


  .jar {
    text-align: center;
    padding: 0;
  }

  .jar-one {
    margin: 0;
    background-size: contain;
  }

  .jar-one img {
    padding: 0;
    margin: 0;
    display: block;
    float: none;
    width: 100%;
    border-radius: 0;
    overflow: hidden;
  }

  .jar-one #circle-img { 
    padding: 0;
    width: 100%;
  }

  .jar-one h3 {
    float: none;
    text-align: center;
    padding: 1em 0;
    margin: 1em 0 0 0;
    font-size: .9em;
    color: #fff;
    box-shadow: none;
    width: 50%;
    background-color: rgba(0, 0, 0, .8);
  }

  .jar-one p {
    text-align: justify;
    padding: 25px;
    margin: 10px;
    font-size: .8em;
  }


  .jar-two h3 {    
    float: none;
    text-align: center;
    padding: 1em 0;
    margin: 1em 0;
    font-size: .9em;
    color: #fff;
    box-shadow: none;
    width: 100%;
    background-color: #333;
  }

  .grid-container {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }

  #schools a {
    width: 100%;
  }

  .dropbtn-projects {
    /*width: 100px;*/
  }

  .img-grid img {width: 96vw;}

  .img-overlay {width: 96vw;}

/* ==========================================================================
   Schools
   ========================================================================== */
  .jar-three h3 {
    float: none;
    text-align: center;
    padding: 1em 0;
    margin: 1em 0;
    font-size: 1em;
    color: #fff;
    box-shadow: none;
    width: 100%;
    background-color: #333;
  }

  hr {display: none;}

  .column {
    float: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 300px;
  }

  .dropup a {cursor: pointer;}
  .column img {
    height: 300px;
  }

  .footer {
    text-align: center;
    margin: 0;
  }

  .footer p {font-size: 1.25em; font-weight: 500;}
/*  .footer i {color: orange; }*/
  .footer #contact {font-size: .9em;}

  .footer .dropup {
    display: block;
    width: 100%;
    float: none;
  }

  #social-buttons {
    width: 100%;
    height: auto;
    display: block;
  }

  .social img {
    display: inline-block;
    width: 30px;
  }
}

@media only screen and (max-width: 560px) {

  #i-too {
/*    float: left;*/
    background-color: #fff;
    width: 100%;
    color: #333;
    padding: 5px 0 0 0;
  }

  #i-too a {
    color: #333;
    font-size: .7em;
    text-align: right;
    padding: 0;
  }

  .project-info {margin: 12px 0; font-size: .8em; background-color: rgba(255, 255, 255, .8); border: 1px dashed #333; padding: 10px;}

  .grid-container {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }

/*  p.project-info {font-size: 1em;}*/
  h1 {font-size: 22px;}

    h1#title {
    /*font-size: 1.5em;*/
    margin-bottom: 20px;
  }
}
