@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
	font-family: 'Montserrat', sans-serif; 
	letter-spacing: 0.03em;
  font-size: 1.2rem;
  line-height: 1.6;
}

div#grid {
  text-align: center;
}

h1.names {
  text-shadow: 1px 1px 1px #202020;
  text-align: center;
  display: inline-block;
  /*margin-top: 50px;*/
  font-size: 12px;
  margin: 10px;
  background-color: #fffcf9;
  border: .5px dashed #000;
}

h1.names:hover {
  border: .5px solid #f65216;
}

h4 {
  /*color:#202020;*/
}

.names img {
  text-align: center;
  display: block;
  margin: auto;
}

img {
  width: 100%;
}

.thumbnail {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-bottom: .5px dashed #000;
  /*box-shadow: 1px 1px 2px #000;*/
}

.thumbnail:hover {
  opacity: .75;
  border-bottom: .5px solid #f65216;
}

h1#title {
  text-align: center;
  /*text-decoration: 3px underline #fff;*/
  margin-top: 25px;
}

h1#title a {
  color: #F68A16;
  background-color: #fff;
  border: 3px solid #F68A16;
  box-shadow: 5px 5px 0px #F68A16;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}

h1#title a:hover {
  cursor: default;
}

h1.site-title a {
  display: inline;
  text-decoration: none;
}

a {
	color: #F68A16;
}

a:hover {
	/*color:#b3d4fc;*/
	color: #f65216;
}

span.map-nav #previous{
  float: left;
  /*padding-bottom: 10px;*/
}
span.map-nav #next{
  float: right;
  /*padding-bottom: 10px;*/
}

span.map-nav a {
  margin-left: 10px;
  margin-right: 10px;
}

.arrow {
  border: solid #F68A16;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-left: 5px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-right: 5px;
}

a#personal-map-home {}

p {
	/*color: #202020;*/
  /*text-align: left;*/
}

.project-info {margin: 50px 100px; text-align: left; padding-bottom: 0; color: #202020; border: 1px dashed #202020; padding: 12px; background-color: #fff;}

table, td, th {
  /*border: 1px dotted #202020;*/
  padding: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

ul.general-list {
	margin: 25px;
	/*border: 1px solid #202020;*/
	width: 400px;
	margin: 25px auto;
	display: block;
	padding: 12px;
	background-color: #fff;
  line-height: 1.6;
}

ul.general-list li {
	text-align: center;
	text-decoration: none;
	display: block;
	float: none;
}

/*#haiku {
	position: -webkit-sticky;
  position: sticky;
  top: 10px;
  background-color: rgba(255,255,255,.75);
}*/

/* ==========================================================================
   Main Header
   ========================================================================== */

#header {
  margin: 0;
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
  padding: 0;
  z-index: 1;
  /*position: -webkit-sticky; 
  position: sticky;*/
  top: 6px;
}

.logo {
  display: inline;
  float: left;
  margin: 0;
  padding: 0;
}

.logo img {
  width: 50px;
  margin: 0;
  padding: 0;
}

.logo .site-title {
  font-size: 1.5rem;
  display: inline;
  margin: 0 0 0 1rem;
  text-transform: lowercase;
  letter-spacing: 0.02em;
  line-height: 1.6;
  font-weight: normal;
}

h1.site-title {
  display: inline;
}

#personal-map-main.site-title a {
  /*color: #202020;*/
}

#personal-map-main.site-title a:hover {
  color:#F68A16;
}

#cml {
  float: right;
  padding: 1em;
}


/* ==========================================================================
   Main Menu
   ========================================================================== */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F68A16;
}

li {
  float: left;
}

li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #fff;
  color: #202020;
}

.active {
  background-color: #4CAF50;
}

/*Dropdown*/
li a:hover, .dropdown:hover .dropbtn {
  background-color: #fff;
  color: #202020;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: .8em;
}

.dropdown-content a {
  color: #202020;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #fff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*li#home:hover > a:hover {color: #b3d4fc; background-color: #fff;}*/

#i-too {
  float: right;
}

#i-too a:hover {
  background-color: #F68A16;
  color: #fff;
}

#i-too-small-screen {display: none;}

/*mouse*/
.box {
  position: absolute;
  animation: rotate 2.5s infinite linear;
  margin: 0;
  overflow: hidden;
  border-radius: 50%;
  z-index: -100;
  opacity: .15;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

iframe {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 480px;
  width: 75%;
}

.footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #F68A16;
  color: #fff;
  text-align: left;
  padding: 1em 0;
  text-align: center;
}

.footer-title {font-size:1.5em; font-weight: 500;}

.footer .dropup {
  display: block;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  background-color: #F68A16; 
  color: #fff;
}

.footer .dropup-content {
  bottom: 34px;
}

.footer .dropup button {
  background-color: #F68A16; 
  color: #fff;
  border: 1px dashed #fff;
}

footer a, p {margin-top: 10px; margin-bottom: 5px;}

#social-buttons {
  display: block;
}

.social img {
  width: 40px;
  margin: 25px 5px;
}

.social img:hover {
  filter: blur(2px);
}
/*MEDIA QUERIES*/
@media only screen and (max-width: 768px) {
  body {font-size: 1rem;}
  h1 {
    text-align: center;
    font-size: 22px;
  }

  h1.names { 
    /*font-size: 20px; */
    margin-top: 20px;
  }

  h1#title {
    /*font-size: 1.5em;*/
    margin-bottom: 20px;
  }

  h4 {
    font-size: 12px;
  }

/*.project-info {margin: 12px 0; font-size: .8em; background-color: rgba(255, 255, 255, .8); border: 1px dashed #202020; padding: 10px;}*/

  .logo .site-title {
    text-align: center;
    font-size: 1.4em;
  }

  #logo { 
    width: 50px;
  }

  .dropdown-content a {
    font-size: .9em;
  }

  #i-too { display: none; }

/*  ul {font-size: 12px;}*/

  ul.general-list { width: 280px; }

  i {display: block;}

    .footer p {
    text-align: center;
    font-size: .7em;
  }

}

