body {
	background: url('../img/justin-lee.png');
	background-size: 100%;
}
img { 
	width: 100vw; 
	display: block; 
	position: fixed;
	top: 0;
	left: 0;
} 

@media screen and (max-width: 720px) {
	img {
		display: none;
	}
}