@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
	font-family: 'Montserrat', sans-serif;
	background: url('../img/justin-lee.png');
	background-size: 100%;
}

img { 
	width: 100vw; 
	display: block; 
	position: fixed;
	top: 0;
	left: 0;
} 

a#home {
	font-weight: 900;
	color: #000;
	border: 5px solid #fff;
	padding:10px;
	z-index: 100;
	position: fixed;
	top: 10px;
	text-decoration: none;
}

.textShine {
  background: linear-gradient(to right, #fff 20%, #f68a16 30%, #f68a16 70%, #fff 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 200% auto;
  animation: textShine 7s ease-in-out infinite alternate;
}

@keyframes textShine {
  to {
    background-position: 200%;
  }
}
/*Media Queries*/
@media screen and (max-width: 720px) {
	img {
		display: none;
	}
}