@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  max-width: 100%;
  /*background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);*/
  background: linear-gradient(-45deg, #f9af60, #f960aa, #60aaf9, #60f9af);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#logo { 
  width: 60px; 
  margin: 10px 10px 0 10px; 
  display: inline-block;
/*  filter: saturate(236) grayscale(100%);
  -webkit-filter: saturate(236) grayscale(100%);*/
  mix-blend-mode: exclusion;
}

#cmp { 
  text-decoration: none; 
  color: #f68a16; 
  /*color: #131313;*/
  font-size: 48px; 
  display: inline-block; 
  mix-blend-mode: exclusion;
  font-weight: 900;
  margin: 0;
}

#slogan {
  font-size: 9em;
  font-weight: 900;
  padding: 25px 25px 0 25px;
  width: 100%;
  display: block;
  margin-top: 50px;
  color: rgb(22,246,138);
  mix-blend-mode: exclusion;
  z-index: -1;
  height: 100%;
}

/*h1 {
  font-size: 9em;
  font-weight: 900;
  padding: 5px 25px 0 25px;
  width: 100%;
}*/

#slogan-small {
  display: none;
  color: rgb(22,246,138);
  font-weight: 900;
}

#cml { 
  font-weight: 500;
}

/*MAIN MENU*/

/* Style tab links */
.tablink {
  background-color: #1c1c1c;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
  z-index: 1;
  mix-blend-mode: exclusion;
  font-weight: 900;
}

.tablink:hover {
  background-color: #fff;
  color: #1c1c1c;
  z-index: 1;
}

.tabcontent {
  color: #1c1c1c;
  display: none;
  padding: 50px 20px;
  height: 100%;
  z-index: 1;
}

/*FEATURED*/
#featured {}

#slideshow {
  margin: 50px auto;
  display: block;
}

/*PROJECTS*/
#projects {
  /*background-color: #60f9af; */
  height: 100%; 
}

#projects a { 
  text-decoration: none; 
  background-color: #fff; 
  border-radius: 25px; 
  padding: 10px; 
}

#projects a:hover { 
  background-color: #f960aa; 
  color: #fff;
}

/*ACCORDION*/
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 50px;
  width: 100%;
  border: 5px solid #1c1c1c;
  box-shadow: 5px 5px 0 #1c1c1c;
  margin: 10px 0;
  text-align: left;
  outline: none;
  font-size: 17px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #f960aa;
  color: #fff;
}

.panel {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  mix-blend-mode: normal;
  font-weight: 700;
  /*background-color: rgba(255,255,255,.5);*/
}

/*SCHOOLS*/
#schools { 
  /*background-color: #60f9af; */
  height: 100%;
}

#schools a {
  text-decoration: none; 
  background-color: #fff; 
  border-radius: 25px; 
  padding: 10px; 
}

#schools a:hover {
  background-color: #f960aa; 
  color: #fff;
}

/*ABOUT*/
#about { 
  background-color: rgba(0,0,0,.5); 
  height: 100%;
  color: #fff;
}

#about a { 
  display: inline-block; 
  text-decoration: none; 
  background-color: #fff; 
}

.social {
  display: block;
  color: #1c1c1c;
}

@media screen and (max-width: 760px) {

  h3 {font-size: 16px;}

  #logo {
    margin-bottom:0; 
    width: 50px; 
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  #header {text-align: center;}
  #cmp {
    margin: 0; 
    font-size: 24px;
    display: block;
  }

  #slogan-small {
    position: relative;
    display: block;
    font-size: 18px;
    margin: 0;
    padding: 10px;
    text-align: center;
  }

  #slogan {display: none;}

  .tablink {font-size: 14px;}

  .subnav .subnavbtn {font-weight: 700;}

  .tabcontent {
  color: #1c1c1c;
  display: none;
  padding: 5px;
  height: 100vh;
  z-index: 1;
  }

}
